
#app {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 100%;

  > main {
    width: 100%;
  }
}

/* Jumbotron to select the idtype */
#startSelection {
  margin: 40px auto;

  h1 {
    text-align: center;
  }
}
