@import "vars";

#app {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 100%;

  > main {
    width: 100%;
  }
}

#startSelection {
  margin: 20px auto;
}

@import "columnManager";
@import "filterManager";
