
html, body {
  font-family: Yantramanav, 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 400;
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  overflow: hidden;
  flex-direction: column;
}

th, label, strong, b, .label {
  font-weight: 500 !important;
}

