

div.column-manager {
  display: flex;
  align-items: stretch;

  .column {
    display: flex;
    flex-direction: row;
    align-items: stretch;

    main {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
}
