
.column-manager {
  display: flex;
  align-items: stretch;
  flex: 1 1 auto;
  overflow: auto;

  .toolbar {
    display: none;
    position: absolute;
    right: 5px;
    top: 0;
    z-index: 1000;
    padding: 5px;
    background: #fff;
    border-radius: 3px;
    border: 1px #999 solid;
  }

  .columnList {
    display: flex;
    align-items: stretch;
    padding: 0;
  }

  .column {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    .columnHeader {
      cursor: move;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-transform: capitalize;
      text-align: center;
      height: 20px;
      position: relative;
      background: #e6e5e5;
      border: solid 1px #999;
      min-width: 10px;
    }

    main {
      flex: 1 1 auto;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
}

.itemWidth {
  flex: 1 1 auto;
}


