.filter {
  margin-bottom: 10px;
  .filterlabel {
    height: 15px;
    background-color: lightgray;
  }
  .tooltip {
    position: absolute;
    text-align: center;
    width: 20px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: white;
    border: 0px;
    pointer-events: none;
  }
}

.categories {
  stroke: black;
  margin: 1px;
  flex-grow: 1;
  width: 100%;
  opacity: 1;
}

.categories.active {
  opacity: 0.5;
}
.textSearch{
  width: 100%;
}
