.filter {
  margin-bottom: 10px;
  counter-increment: filterSection;

  header {
    display: flex;
    align-content: space-between;
    background: #eee;
    padding: .5em;
    position: relative;

    &:before {
      color: #999;
      content: counter(filterSection);
      font-size: 1.4em;
      position: absolute;
      top: 0.05em;
      cursor: move;
    }

    h2 {
      order: 1;
      font-size: 1em;
      margin: 0 1em 0 0;
      padding: 0 0 0 20px;
      white-space: nowrap;
      overflow: hidden !important;
      text-overflow: ellipsis;
      width: 200px;
      cursor: move;
      text-transform: capitalize;
    }

    a {
      order: 2;
      text-decoration: none;
      cursor: pointer;
    }
  }

  main {
    padding: .5em;
  }

  .tooltip {
    position: absolute;
    text-align: center;
    display: block;
    padding: 5px;
    font: 12px sans-serif;
    background: #fff;
    border-radius: 3px;
    border: 1px #999 solid;
    pointer-events: none;
    user-select: none;
  }
}

.form-control {
  margin-bottom: 5px;
}

.categories {
  stroke: black;
  margin: 1px;
  flex-grow: 1;
  width: 100%;
  opacity: 1;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  text-transform: capitalize;
}

.categories.active {
  opacity: 0.5;
}

.textSearch {
  width: 100%;
}

.idType {
  font-size: 1.5em;
  margin: 0.3em;
  text-align: center;
}

.matrix {
  flex-grow: 1;
  background-color: lightgray;
}

.totalData {
  background-color: #737373;
  height: 100%;
}

.filteredData {
  background-color: #b3b3b3;
  height: 100%;
}

li {
  list-style-type: none;
}

.filterlist {
  padding-left: 0;
  counter-reset: filterSection;
}
