
/* overrides phovea-barplot */
.taggle-vis-barplot {
  background-color: #fff;

  rect {
    fill: #aaa;
  }
}

/* overrides phovea-list */
.taggle-vis-list {
  div {
    padding: 1px 1px 1px 11px;
    height: 100%;
    display: flex;
    align-items: center;

    &.phovea-select-selected {
      border: 1px solid $select-color;
      padding: 0 0 0 10px;
    }
  }
}

.phovea-mosaic {
  .phovea-select-selected rect {
    fill: $select-color;
  }
}

.phovea-pie {
  .phovea-select-selected path {
    fill: $select-color;
  }
}
