
$rightPanelWidth: 250px;
$select-color: orange;
$hover-color: #ffc46b;

$header-bg-color: #f0f0f0;
$header-border-color: #ddd;

$toolbar-bg-color: #fff;
$toolbar-link-color: #999;
$toolbar-link-hover-color: #444;
$toolbar-link-active-color: #d98000;
$highlight-active-color:gray;


$gap-between-stratifications: 4px;
