@import "styles/base";

#app > main {
  display: flex;
  align-items: center;
  justify-content: center;

  .block {
    header {
      i {
        cursor: pointer;
      }

    }
  }
}

.toolbar {
  height: 20px;
}

$select-color: orange;
$hover-color: #ffc46b;

.block {
  &.block-select-selected {
    border: 1px solid $select-color;
    background: none;
  }
  &.block-select-hovered {
    border: 1px solid $hover-color;
    background: none;
  }

}


